* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
}

/*
    Function to set font weight, font-size, color for text
*/
.product .btn-buy,
.product .btn-price {
  width: 50%;
  text-align: center;
  background: #f5f5f5;
  color: #000;
  padding: 15px 25px;
  border-radius: 0;
  transition: 0.5s;
}
.product .btn-buy:hover,
.product .btn-price:hover {
  font-size: 18px;
  font-weight: 700;
}
.product .btn-buy {
  background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
  background-size: 200% auto;
  border-radius: 0 0 10px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-decoration: none;
}
.product .btn-buy:hover {
  background-position: right center;
}

.cart #tableDanhSach .btn-dark {
  font-size: 12px;
  padding: 5px 10px;
  transition: 0.5s;
}
.cart #tableDanhSach .btn-dark:hover {
  opacity: 0.5;
}
.cart .myCardFooter .btn-info {
  background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
  background-size: 200% auto;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
  transition: 0.5s;
  color: black;
  font-weight: 600;
}
.cart .myCardFooter .btn-info:hover {
  background-position: right center;
  font-size: large;
  font-weight: bold;
}

#modalLogin .modal-title .row {
  align-items: center;
}
#modalLogin .login {
  border-right: 1px solid #ced4da;
  color: #2a73dd;
  font-size: 30px;
  font-weight: 700;
}
#modalLogin .login:hover,
#modalLogin .regis:hover {
  cursor: pointer;
  color: #2a73dd;
}
#modalLogin .gender {
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  flex-grow: 1;
  align-items: center;
}
#modalLogin #tbEmail,
#modalLogin #tbPassword,
#modalLogin #tbPassword2,
#modalLogin #tbName,
#modalLogin #tbPhone {
  color: red;
  margin-top: 10px;
  margin-bottom: -5px;
}

header .row {
  height: 100px;
  align-items: center;
}
header .row .header-logo a {
  text-decoration: none;
}
header .row .header-logo a img {
  height: 70px;
}
header .row .title-type .row {
  list-style: none;
}
header .row .title-type .row a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}
header .row .title-type .row li::after {
  content: "";
  width: 100;
  height: 2px;
  display: none;
  background-color: #000;
}
header .row .title-type .row li:hover::after {
  display: block;
}
header .row .header-elements .icon-elements .ip-search {
  width: 250px;
  position: relative;
  background-color: #eceff1;
  margin-right: 30px;
}
header .row .header-elements .icon-elements #icon-search {
  position: absolute;
  transform: translateX(220px);
  color: #121212;
  font-size: 15px;
  cursor: pointer;
}
header .row .header-elements .icon-elements a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
header .row .header-elements .icon-elements a:hover {
  color: rgba(0, 0, 0, 0.603);
}
header .row .header-elements .icon-elements .fa-user-secret, header .row .header-elements .icon-elements .fa-cart-shopping, header .row .header-elements .icon-elements .nameLogin {
  font-size: 18px;
  padding-right: 10px;
}

.carousel .title-summer-carousel {
  position: absolute;
  top: 250px;
  left: 200px;
  z-index: 1;
}
.carousel .title-summer-carousel h2 {
  font-size: 70px;
  font-weight: 700;
  color: #1d365e;
}
.carousel .title-content-carousel {
  position: absolute;
  z-index: 1;
  top: 350px;
  left: 200px;
}
.carousel .title-content-carousel p {
  font-size: 25px;
  font-weight: 300;
  color: #1d365e;
}
.carousel .img-first {
  position: relative;
  height: 100vh;
}
.carousel .carousel-img img {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
}

.product .title {
  color: #353535;
  font-size: 25px;
  font-weight: 400;
  padding: 20px 0;
}
.product .card-item {
  padding-bottom: 25px;
}
.product .card-item-inner {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 5px 10px 0px rgba(100, 100, 111, 0.2);
  overflow: hidden;
  transition: 0.5s;
}
.product .card-item-inner:hover {
  border-color: #000;
  box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.product .card-img {
  background-color: #eceff1;
  border-radius: 0;
}
.product .card-body {
  padding-bottom: 0;
}
.product .shoe-name {
  color: #353535;
  font-size: 18px;
  font-weight: 700;
}
.product .shoe-desc {
  color: #656774;
  font-size: 15px;
  font-weight: 400;
}

footer {
  margin-top: 100px;
  box-shadow: 0 5px 10px 0px rgba(100, 100, 111, 0.2);
  padding: 30px 30px 0;
  background-color: #eceff1;
}
footer .footer-top h4 {
  font-weight: 700;
}
footer .footer-top li {
  list-style: none;
}
footer .footer-top a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.5s;
}
footer .footer-top a:hover {
  text-decoration: underline;
}
footer .footer-top .footer-support {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 125px;
}
footer .footer-bottom {
  color: #f5f5f5;
  background-color: #000;
  height: 50px;
  line-height: 50px;
}
footer .footer-bottom a {
  color: #F8B653;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.5s;
}
footer .footer-bottom a:hover {
  text-decoration: underline;
}
footer .footer-bottom .content-bottom-left {
  margin-right: 20px;
}

.cart {
  width: 90%;
  margin: 0 auto;
}

#tableDanhSach .check,
#tableDanhSach .shoeID,
#tableDanhSach .shoeIMG,
#tableDanhSach .shoeName,
#tableDanhSach .shoePrice,
#tableDanhSach .quantity,
#tableDanhSach .total {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  vertical-align: middle;
}
#tableDanhSach .quantity span {
  padding: 0 5px;
}
#tableDanhSach .total {
  font-size: large;
  font-weight: bolder;
}
#tableDanhSach .select {
  vertical-align: middle;
}
#tableDanhSach .select .btn {
  font-size: 15px;
}

.myCardFooter .payment {
  font-weight: 700;
}
.myCardFooter .payment #total-price {
  color: rgba(255, 0, 0, 0.8);
}/*# sourceMappingURL=main.css.map */