
// RESPONSIVE MOCK
// $res_320 : "only screen and (min-width: 320px) and (max-width: 374px)";
// $res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
$res_min_424 : "only screen and (max-width: 424px)";
$res_min_576 : "only screen and (max-width: 576px)";
$res_576 : "only screen and (min-width: 576px) and (max-width: 768px)";
$res_768 : "only screen and (min-width: 768px) and (max-width: 992px)";
$res_max_992 : "only screen and (max-width: 991px)";
$res_992 : "only screen and (min-width: 992px) and (max-width: 1199px)";
$res_1200 : "only screen and (min-width: 1200px)";
