header {
    .row {
        height: 100px;
        align-items: center;

        .header-logo {
            a {
                text-decoration: none;

                img {
                    height: 70px;
                }
            }
        }

        .title-type {
            .row {
                list-style: none;

                a {
                    @include styleTagA(none, $color-black, $fs-15+3);
                }

                li {
                    &::after {
                        content: "";
                        width: 100;
                        height: 2px;
                        display: none;
                        background-color: $color-black;
                    }

                    &:hover {
                        &::after {
                            display: block;
                        }
                    }
                }
            }
        }

        .header-elements {
            .icon-elements {
                .ip-search {
                    width: 250px;
                    position: relative;
                    background-color: #eceff1;
                    margin-right: 20px;
                }

                #icon-search {
                    position: absolute;
                    transform: translateX(220px);
                    color: $color-dark-2;
                    font-size: 15px;
                    cursor: pointer;
                }

                a {
                    @include styleTagA(none, $color-black, $fs-20);

                    &:hover {
                        color: rgba(0, 0, 0, 0.603);
                    }
                }

                .fa-user-secret,
                .fa-cart-shopping,
                .nameLogin {
                    font-size: $px-20;
                    padding-right: $px-10;
                }
                .fa-cart-shopping{
                    margin-right: 12px;
                    position: relative;
                }
                #countCart {
                    border-radius: 50%;
                    padding: 6px;
                    font-size: 18px;
                    background-color: #eacda3;
                    color: black;
                    position: absolute;
                    top: -12px;
                    right: -8px;
                }

            }
        }
    }
}