/*
    Function to set font weight, font-size, color for text
*/
@mixin styleText($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin styleButton($bg, $color, $pd, $pd2, $radius) {
    background: $bg;
    color: $color;
    padding: $pd $pd2;
    border-radius: $radius;
}

@mixin styleTagA ($text-decor, $color, $fs) {
    color: $color;
    text-decoration: $text-decor;
    font-size: $fs;
}

//RESPONSIVE MINXIN
// @mixin responsive_320() {
//     @media #{$res_320} {
//         @content;
//     }
// }
// @mixin responsive_375() {
//     @media #{$res_375} {
//         @content;
//     }
// }
@mixin responsive_min_424() {
    @media #{$res_min_424} {
        @content;
    }
}
@mixin responsive_min_576() {
    @media #{$res_min_576} {
        @content;
    }
}
@mixin responsive_576() {
    @media #{$res_576} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_max_992() {
    @media #{$res_max_992} {
        @content;
    }
}
@mixin responsive_992() {
    @media #{$res_992} {
        @content;
    }
}
@mixin responsive_1200() {
    @media #{$res_1200} {
        @content;
    }
}