/*
    Function to set font weight, font-size, color for text
*/
@mixin styleText($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin styleButton($bg, $color, $pd, $pd2, $radius) {
    background: $bg;
    color: $color;
    padding: $pd $pd2;
    border-radius: $radius;
}