.product {
    .btn-buy,
    .btn-price {
        width: 50%;
        text-align: center;
        font-weight: bolder;
        @include styleButton($color-gray, $color-black , $px-15, $px-25, 0);
        transition: 0.5s;

        &:hover {
            font-size: $fs-18;
        }
    }

    .btn-buy {
        background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
        background-size: 200% auto;
        border-radius: 0 0 10px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, .125);
        text-decoration: none;
        &:hover {
            background-position: right center;
        }

    }
}

.cart {
    #tableDanhSach {
        .btn-dark {
            font-size: $fs-12;
            padding: $px-5 $px-10;
            transition: 0.5s;

            &:hover {
                opacity: 0.5;
            }

        }
    }

    .myCardFooter {
        .btn-submit {
            background-image: linear-gradient(to right, #eacda3 0%, #d6ae7b 51%, #eacda3 100%);
            background-size: 200% auto;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, .125);
            transition: 0.5s;
            color: black;
            font-weight: $fw-6;
            &:hover {
                background-position: right center;
                font-size: larger;
                font-weight: bolder;
            }

        }
    }
}